<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <style>
        th {
            text-align: left;
            font-size: 24px;
        }
        input {
            font-size: 24px;
        }
        button {
            margin-top: 20px;
            background-color: cornflowerblue;
            color: white;
            padding: 5px 10px;
            font-size: 16px;
            border-radius: 6px;
            border: none;
        }
        button:hover {
            background-color: darkslateblue;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div style="width: 500px">
        <h1 style="text-align: center">Информация о пользователе: {{ user.first_name }}</h1>
        <table>
            <tr>
                <th>Имя</th>
                <td>
                    <input type="text" value="{{ user.first_name }}" disabled>
                </td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>
                    <input type="text" value="{{ user.last_name }}" disabled>
                </td>
            </tr>
            <tr>
                <th>Возраст</th>
                <td>
                    <input type="number" value="{{ user.age }}" disabled>
                </td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>
                    <input type="text" value="{{ user.phone_number }}" disabled>
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>
                    <input type="text" value="{{ user.email }}" disabled>
                </td>
            </tr>
        </table>
    </div>
    <button onclick="history.back()">назад</button>
{#    <a href="/users/">назад</a>#}
</body>
</html>